body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-image:hover,
.card-content:hover {
  cursor: pointer;
}

a.view-recipe:hover {
  color: brown;
}

.margin-tb {
  margin: 2rem auto 2rem;
}
/*
.padding-tb {
  padding-top: 5px;
  margin-top: 10px;
} */

.ingredients-section {
  margin: 5em auto 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card-action:hover {
  background-color: rgb(218, 218, 202);
}

p span {
  font-size: medium;
}
